#anchor{
	-fx-background-color: linear-gradient(#38424b 50%, #1f2429 90%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 120%, rgba(135,0,0,0.9), rgba(255,255,255,0));
}
.button{
	-fx-background-color: linear-gradient(#38424b 50%, #1f2429 90%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 120%, rgba(135,0,0,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: darkgray;
    -fx-border-color:darkgray;
    -fx-border-width:1 1 1 1;
    -fx-border-radius:10px;
    -fx-font-size:16px;
    -fx-font-weight:normal;
}

.button:hover{
	-fx-background-color: linear-gradient(red, darkred);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-border-color:darkgray;
    -fx-border-width:1 1 1 1;
    -fx-border-radius:10px;
}


.text-field{
	-fx-background-color: linear-gradient(#38424b 50%, #1f2429 90%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 120%, rgba(135,0,0,0.9), rgba(255,255,255,0));
	-fx-padding:0 10 0 10;
	-fx-background-radius:5px;
	-fx-border-radius:5px;
	-fx-border-width: 1 1 1 1;
	-fx-border-color:darkgray;
	-fx-text-fill:darkgray;
}
.text-field:hover{
	-fx-background-color: linear-gradient(red, darkred);
}
.text-field:focused{
	-fx-background-color:linear-gradient(red,darkred);
}
